<title>
  Link: Networking for Gamers!
</title>

<h1 style="font-size:28px">Login!</h1>

<style>
  .button1 {
  background-color: rgb(29, 202, 29);
  color: rgb(255, 255, 255);
  border: 2px solid #60b6d3;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1:hover {
  background-color: #ffffff;
  color: rgb(29, 202, 29);
}
</style>

{% load crispy_forms_tags %}

{% block content %}
<form method="post" class="form-group">
  {% csrf_token %}
  {{form|crispy}}
  <br>
  <button type="submit" class="button button1">Login</button>
  <p>Don't have an account? Create one <a href="/register">here</a></p>
</form>
{% endblock %}